/* Vars */

:root {
    --dark: #343a40;
}


/*big stuff*/

body {
    background-color: var(--dark);
    font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-dark {
    background-color: black !important;
}