.content {
    margin: 0px;
}

.content h1 {
    color: var(--dark);
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0 !important;
}

.skills {
    background-color: #000435;
    /*#080808;*/
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
    border: solid #080808 1;
    border-top: none;
    margin: 0;
    text-align: center;
}

.skills h1 {
    color: #e8e8e8;
    font-size: 1em;
    margin: 2px;
    font-size: 40px;
}

.skills hr {
    color: #e8e8e8;
    margin: 0;
    margin-bottom: 5px;
}


/*Skills */

.skillsList {
    width: 100%;
    height: 100%;
    text-align: center;
}

.skill {
    display: inline-block;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.skills input {
    margin: 16px;
    margin-bottom: 2px;
    width: calc(100% - 32px);
    background-color: #e8e8e8;
}

.skill-enabled {
    background-color: #e8e8e800;
    color: #ffffff;
    border: 2px solid #000000;
    /*border: none;
    2px solid #555555;*/
}

.skill-enabled:hover {
    color: #9d9d9d;
    border: 2px solid #080808;
    cursor: pointer;
}

.skill-disabled {
    background-color: #9a9a9a;
    color: black;
    border: 2px solid #080808
}

.skill-disabled:hover {
    color: #9d9d9d;
    border: 2px solid #555555;
    cursor: pointer;
}

.skill-big {
    font-size: 20px !important;
    font-weight: 900 !important;
    border: 4px solid white;
    color: black;
    background-color: white;
}

.search-btn {
    color: #a0a0a0;
    float: right;
    margin-right: 16px;
    height: 16px;
    font-size: 12px;
}

.search-btn-holder {
    display: block;
    height: 16px;
    clear: both;
}

.search-btn:hover {
    color: white;
    cursor: pointer;
}


/* ---------------- TILES --------------- */

.portfolio-tile {
    margin-top: 12px;
}

.card-header {
    font-weight: 900;
}

.more-info {
    margin-top: 8px;
}

.more-btn {
    float: right;
    display: block;
    color: #007bff;
}

.more-btn:hover {
    cursor: pointer;
}

div[class^="col-"] {
    padding: 8px;
}

.tile-skills {
    font-weight: 100;
}

.title-gallery {
    overflow: hidden;
}

.title-gallery img {
    max-height: 200px;
    max-width: 100%;
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

.title-pagination {
    margin-top: 8px;
    text-align: center;
}

.tile-pagination nav ul {
    align-items: center;
    justify-content: center;
}

.gallery-fullscreen {}

.gallery-fullscreen:hover {
    cursor: pointer;
    color: black;
    font-size: 20px;
}

.title-gallery-fullscreen::before {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline;
    content: "«";
    background-color: black;
    opacity: 0.5;
}

.title-gallery-fullscreen {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 32px !important;
    overflow: auto;
    z-index: 50;
}

.title-gallery-fullscreen img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

.p-hidden {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.p-show {
    opacity: 1;
    height: auto;
}

.p-hidden-overlay {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.75;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*   <h1>View</h1>*/

.p-hidden-overlay::after {
    content: "Expand";
    width: 100%;
    text-align: center;
    font-size: 2em;
    z-index: 11;
    font-weight: 900;
}

.card {
    position: relative;
}

.card img {
    max-width: 100%;
}

.tile-skills-list span {
    margin-left: 4px;
    margin-right: 4px;
}

.skills-column {
    padding: 0 !important;
}

.card-header {
    background-color: rgba(0, 0, 0, .06);
}

.vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:hover {
    cursor: pointer;
}